.announcement-top {
    max-height: 100%;
    background-color: #a4a7e3;
    background-image: url(../images/announcement-bg-c40db708.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-height: 200px;
    transition: max-height .2s linear, opacity .2s linear
}

.announcement-top.is-hidden {
    position: relative;
    max-height: 0;
    opacity: 0;
    overflow: hidden
}

.announcement-top__inner {
    position: relative;
    display: flex;
    padding: 14px
}

.announcement-top__nav {
    position: absolute;
    right: 52px;
    top: 14px;
    z-index: 10;
    font-family: Graphik-Semibold, Arial Bold, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25
}

[dir=rtl] .announcement-top__nav {
    left: 52px;
    right: unset
}

.announcement-top__nav-item {
    width: 28px;
    font-size: 0;
    vertical-align: bottom
}

.announcement-top__nav-item:disabled {
    color: #00000040
}

.announcement-top__nav-item:after {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px
}

.announcement-top__nav-item--prev:after,
[dir=rtl] .announcement-top__nav-item--next:after {
    content: ""
}

.announcement-top__nav-item--next:after,
[dir=rtl] .announcement-top__nav-item--prev:after {
    content: ""
}

.announcement-top__slide {
    font-family: Graphik-Semibold, Arial Bold, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25
}

.announcement-top__date {
    display: block
}

.announcement-top__close {
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 0;
    width: 24px;
    height: 24px;
    transition: color .2s linear
}

[dir=rtl] .announcement-top__close {
    left: 14px;
    right: unset
}

.announcement-top__close:after {
    content: "";
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px
}

.announcement-top__close:hover {
    color: #0009
}

@media screen and (max-width: 999px) {
    .announcement-top__msg {
        display: block;
        margin-top: 24px
    }

    .announcement-top__date+.announcement-top__msg {
        margin-top: 8px
    }
}

@media screen and (min-width: 1000px) {
    .announcement-top__nav {
        left: 14px;
        right: auto;
        top: 14px
    }

    [dir=rtl] .announcement-top__nav {
        left: auto;
        right: 14px
    }

    .announcement-top__carousel {
        max-width: 70%;
        margin: auto
    }

    .announcement-top__slide {
        text-align: center
    }

    .announcement-top__date {
        display: inline-block
    }

    .announcement-top__date:after {
        content: "";
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 3px 8px;
        background-color: #000
    }
}