body{
  background-color: rgb(248, 248, 248);
  -webkit-font-smoothing: antialiased;
}
.cards-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaço entre os cards */
}

.card {
  flex: 1 1 300px; /* Os cards tentarão ocupar igualmente o espaço, mas não menos que 300px */
  max-width: 340px;
  display: flex;
  flex-direction: column;
  
  border-radius: 10px;
  overflow: hidden;
}

.card-headerOnline {
  position: relative;
  background-color: #1de9b6;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px 10px 0 0; /* Ajusta o border-radius para aplicar apenas no topo e nas laterais */
  border: 3px solid #a3a3a3;
  color: #000021;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-headerOffline {
  position: relative;
  background-color: #a3a3a3;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px 10px 0 0; /* Ajusta o border-radius para aplicar apenas no topo e nas laterais */
  border: 3px solid #a3a3a3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.card-body {
  position: relative;
  padding: 2px;
  flex-grow: 1; /* Faz o corpo do card ocupar o espaço disponível */
  border: 3px solid #a3a3a3;
  border-top: none; /* Remove a borda superior */
  border-bottom: none; /* Remove a borda inferior */
  border-left: 3px solid #a3a3a3; /* Define a borda esquerda */
  border-right: 3px solid #a3a3a3; /* Define a borda direita */
}



.card-footer {
  background-color: #d4d4d4;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  border: 3px solid #a3a3a3;
  display: flex;
  flex-direction: row; /* Muda para linha */
  flex-wrap: wrap; /* Permite que os itens passem para a próxima linha se necessário */
  justify-content: space-between; /* Espaçamento entre os itens */
  gap: 10px; /* Espaço entre os botões */
}

.card {
  overflow: visible;
}

.label {
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 10px;
}

.labelCena {
  position: absolute;
  top: 1px;
  left: 40%;
  font-size: 10px;
}
.corBranca {
  columns: white;
}

.btnEmail{
  position: relative;
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  border: 0;
  color: #fff;
  background: #000a47;
  line-height: 1.15;
  font-size: 20px;
  height: 60px;
  margin: 10px;
}
.btnEmail:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

.btnOTP{
  position: relative;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  border: 0;
  color: #fff;
  background: #000a47;
  line-height: 1.15;
  font-size: 24px;
  height: 60px;
  margin: 10px;

}
.btnOTP:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

.btnCena{
  position: absolute;
  right: 5px;
  bottom: 8px;
  display: inline-block;
  outline: 0;
  border:0;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background: #ff5000;
  line-height: 20px;
  border-radius: 40px;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s;
}


.btnPadrao {
  flex: 1; /* Faz com que os botões cresçam igualmente */
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 10px; /* Ajuste conforme a necessidade */
  border: 0;
  color: #3a4149;
  background: #e7ebee;
  font-size: 16px;
  text-align: center; /* Centraliza o texto no botão */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidade */
  margin: 4px;
}
.btnPadrao:hover {
  background: #ff5000;
  color: #e7ebee;
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #1de9b6, 0 0 0 3px #ff5000;
}

.Xemail { border: 3px solid #28a745; }
.Xotp { border: 3px solid #3546dc; }
.XotpError { border: 3px solid #d36906; }
.XotpSMS { border: 3px solid #430649; }
.Xload { border: 3px solid #ffc107; }
.Xotp2 { border: 3px solid #ea07ff; }